body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
  overflow-x: hidden;
  height: 100%;
  min-height: 100%;
}

.otpCtr>div {
  font-family: "Poppins", sans-serif !important;
  color: #2B3984 !important;
  font-weight: 500;
}

.calenderInput {
  border: 1px solid #E6E6E6;
  border-radius: 6px;
  background: white;
  padding-right: 15px;
}

.calenderInput input:focus-visible {
  outline: none !important;
}

.calenderInput input {
  border: none !important;
}

.rmdp-calendar {
  font-family: "Poppins", sans-serif !important;
}

.otpCtr button {
  font-family: "Poppins", sans-serif !important;
  color: #2B3984 !important;
  font-weight: 500;
  background: transparent !important;
  text-decoration: underline;
  letter-spacing: 1px;
}

.otpCtr button:active {
  background: transparent !important;
  color: #2B3984 !important;
}

.splash-bg {
  background: linear-gradient(151deg, rgba(1, 2, 6, 1) 0%, rgba(25, 36, 102, 1) 52%, rgba(50, 71, 200, 1) 100%);
  display: flex;
  align-items: center;
  /* background-image: url("./assets/images/welcome-banner.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  height: 100vh;
}

.bannerleft-bg {
  background-image: url("./assets/images/authLeft-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  border-radius: 0px 20px 20px 0px;
}

.bannerleft-bg-1 {
  background-image: url("./assets/images/bg-plain.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
  border-radius: 0px 20px 20px 0px;
}

.bannerright-bg {
  background-image: url("./assets/images/star-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  /* height: 100vh; */
}

.splash-position {
  position: absolute;
  right: 8%;
}

/* login css */

.authleftposition {
  position: absolute;
  bottom: 3%;
  right: 10%;
}

.adminleftposition {
  position: absolute;
  /* top: 42%; */
  display: none;
}

.loginform-ctr .input-group {
  width: 558px;
}

.loginform-ctr .input-group input {
  height: 45px;
  border: 1px solid #E6E6E6;
  border-radius: 6px;
  border-left: 0px;
  padding-left: 0px;
  background: white;
}

.innerform-ctr input {
  height: 45px;
  border: 1px solid #E6E6E6;
  border-radius: 6px;
  background: white;
}

.innerform-ctr .input-group {
  width: 100%;
  background: white;
}

.termsand-condotion-popup .modal-content {
  width: 573px;
}

.termsand-condotion-popup .modal-body {
  width: 573px;
  max-height: 552px;
  overflow: auto;
}

.optform-ctr input {
  width: 45px;
  height: 45px;
  padding: 0px;
  border: 1px solid #E6E6E6;
  border-radius: 6px;
}

.optform-ctr .MuiOtpInput-Box {
  gap: 25px;
}

/*  */

.border-dotted {
  border: 2px dashed #BEBEBE;
}

.active-border-dotted {
  border: 2px dashed #2B3984;
}

.active-cl {
  border: 2px solid #2B3984;
}

.deactive-cl {
  border: 2px solid #BEBEBE;
}

.filled-cl {
  background: #2B3984;
}

.round-cl {
  width: 47px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.round-cl img {
  width: 21px;
  height: 21px;
}

.activeLabel {
  color: #2B3984;
  font-weight: 600;
}

.uploadimages-ctr img {
  width: 97px;
  height: 97px;
  border-radius: 6px;
  border: 1px solid #E6E6E6;
  object-fit: cover;
}

.dropzone {
  width: 190px;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E6E6E6;
  border-radius: 6px;
}

.preview {
  width: 190px;
  height: 190px;
}

.preview img {
  width: 190px;
  height: 190px;
  border: 1px solid #E6E6E6;
  border-radius: 6px;
  object-fit: cover;
}

.closeIcon-img img {
  width: auto !important;
  height: auto !important;
  border: none !important;
}

.closeIcon-img {
  position: absolute;
  right: -7px;
  top: -10px;
}

.campaignRule-ctr {
  background: linear-gradient(136.87deg, #010206 11.1%, #182261 66.61%, #3247C8 100%);
  color: white;
  border: none;
}

/* faqmodal-ctr */

.modal-closectr {
  position: absolute;
  right: -20px;
  top: -15px;
}

.modalfaq-ctr {
  width: 636px;
  max-width: 636px;
}

.faqmodal-ctr .modal-content {
  /* width: 636px; */
  border-radius: 20px;
  padding: 5px 20px;
  overflow: visible;
  padding-right: 0px;
}

.faqmodal-ctr .accordion-item {
  border: none;
  border-bottom: 1px solid black !important;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.faqmodal-ctr .accordion-header button:active {
  background: transparent !important;
  color: black !important;
}

.faqmodal-ctr .accordion-header button:focus {
  box-shadow: none;
}

.accordion-collapse:visited {
  border: none !important;
}

.faqmodal-ctr .accordion-header button {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  background: transparent;
  color: black;
}

.faqmodal-ctr .accordion-header button {
  box-shadow: unset;
  padding-left: 0px;
  padding-right: 0px;
}

.faqmodal-ctr .accordion-body {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.faqmodal-ctr .modal-body>div {
  padding-right: 20px;
}

.dragImageCtr {
  width: 191px;
}

.faqpage-ctr .accordion-item {
  border: none;
  border-bottom: 1px solid white !important;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background: transparent;
  color: white;
}

.faqpage-ctr .accordion-header button {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  background: transparent;
  color: white;
}

.faqpage-ctr .accordion-header button {
  box-shadow: unset;
  padding-left: 0px;
  padding-right: 0px;
}

.faqpage-ctr .accordion-body {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.faqpage-ctr .accordion-button:not(.collapsed)::after {
  background-image: url("./assets/images/icons/accordian-top.png");
  transform: none;
  background-size: auto;
}

.faqpage-ctr .accordion-button::after {
  background-image: url("./assets/images/icons/accordian-bottom.png");
  background-size: auto;
}

.faqpage-ctr .accordion-header button:focus {
  box-shadow: none;
}

.faqpage-ctr .accordion-header button:active {
  background: transparent !important;
  color: white !important;
}

.logout-modal {
  align-items: center;
  justify-content: center;
}

.logout-modal .modal-content {
  width: 435px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}

.logout-modal .modal-ctr-logout {
  padding: 40px;
}